html, body {
  margin: 0;
  height: 100%;
}
body {
  font-family: Roboto, sans-serif;
}

#root {
  height: 100%;
}

.content {
  min-height: 100%;
  margin-top: -64px;
  margin-bottom: -200px;
}

.content:before {
  content: '';
  display: block;
  height: 64px;
}
.content:after {
  content: '';
  display: block;
  height: 200px;
}
